<?xml version="1.0"?>
<model>
  <name>braco_antebraco_garra</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author><name>Caio Lima</name><email>clima@ufabc.edu.br</email></author>
  <description>Upper arm, forearm and gripper from the master's thesis, ported to Gazebo Jetty.</description>
</model>
